@charset "utf-8";

html, body {
  height: 100%;
  font-size: 20px;
}

#wrapper {
  display: flex;
  flex-flow: column nowrap;
  /* The above is shorthand for:
     flex-direction: column,
     flex-wrap: nowrap */
  height: 100%;
}

#lower-area {
  flex: 1 1 auto;
  /* The above is shorthand for:
     flex-grow: 1,
     flex-shrink: 1,
     flex-basis: auto  */
  position: relative;
}

#logo {
  margin-bottom: 4rem;
}

#join-screen {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 10;
  background-color: white;
}

#join-form {
  text-align: center;
  width: 100%;
}

/* point */

#nickname {
  font-weight: bold;
}

#room {
  font-weight: bold;
}

#input_message {
  width: 640px;
}

#chat-screen {
  display: none;
  margin-left: 10px;
}

#chat-form button {
  border: solid 1px black;
  font-weight: bold;
}

#message-list {
  border: solid 1px black;
  width: 700px;
  height: 500px;
  overflow: auto;
  list-style-type: none;
  margin-top: 10px;
}

#message-list img {
  width: 100%;
  height: 100%;
}

#emotion-value {
  display: none;
}

#emotion-set {
  width: 200px;

}

#emotion-set button {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: azure;
  background-size: 100%;
  background-repeat: no-repeat;
  border: solid 1px black;
}

#laugh {
  background-image: url('./mark_face_laugh.png');
}

#smile {
  background-image: url('./mark_face_smile.png');
}

#surprise {
  background-image: url('./mark_face_odoroki.png');
}

#angry {
  background-image: url('./mark_face_angry.png');
}

#cry {
  background-image: url('./mark_face_cry.png');
}

.image_area {
  width: 45px;
  height: 45px;
  margin: 10px 0px 10px 10px;
  position: relative;
}

.image_area .caption {
  position: absolute;
  top: 30%;
  left: 15%;
  font-size: 70%;
  color: white;
}

.image_area .mask {
  width:			100%;
  height:			100%;
  position:		absolute;	/* 絶対位置指定 */
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
	background-color:	rgba(0,0,0,0.4);	/* マスクは半透明 */
	-webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
}

.image_area:hover .mask {
	opacity:		1;	/* マスクを表示する */
}

.send_message {
  background-color: aquamarine;
  color: black;
  padding: 10px;
  margin: 5px;
  max-width: 400px;
  margin-right: auto;
  font-weight: bold;
  border: solid 1px black;
}

.receive_message {
  background-color: gray;
  color: white;
  padding: 10px;
  margin: 5px;
  max-width: 400px;
  margin-left: auto;
  font-weight: bold;
  border: solid 1px black;
}

.system_message {
  color: black;
  opacity: 1.0;
  padding: 10px;
  margin: 5px;
  max-width: 650px;
  align-items: center;
  font-weight: bold;
}

.box {
  overflow-wrap: normal;
  display: flex;
}

/*debug*/
#filter {
  display: none;
}